use flake

# Ensure Poetry uses in-project virtual environments
export POETRY_VIRTUALENVS_IN_PROJECT=true

# Activate the Poetry virtual environment
if [ -d .venv ]; then
    source .venv/bin/activate
else
    echo "Creating a new virtual environment with Poetry..."
    poetry install
fi
